<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.topcheer.halberd.app.dao.mapper.framework.api.ApiAuthMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="api_authResultMap" type="cn.topcheer.halberd.app.api.framework.entity.api.AmApiAuth">
        <result column="id" property="id"/>
        <result column="api_id" property="apiId"/>
        <result column="application_id" property="applicationId"/>
        <result column="valid_date" property="validDate"/>
        <result column="qps" property="qps"/>
        <result column="qpd" property="qpd"/>
        <result column="tqp" property="tqp"/>
        <result column="memo" property="memo"/>
        <result column="create_user" property="createUser"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="status" property="status"/>
        <result column="is_deleted" property="isDeleted"/>
    </resultMap>

</mapper>
