<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.topcheer.halberd.app.dao.mapper.framework.api.ApplicationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="am_applicationResultMap" type="cn.topcheer.halberd.app.api.framework.entity.api.AmApplication">
        <result column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="owner" property="owner"/>
        <result column="telphone" property="telphone"/>
        <result column="email" property="email"/>
        <result column="white" property="white"/>
        <result column="memo" property="memo"/>
        <result column="client_id" property="clientId"/>
        <result column="create_user" property="createUser"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="status" property="status"/>
        <result column="is_deleted" property="isDeleted"/>
    </resultMap>

</mapper>
