<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.topcheer.halberd.app.dao.mapper.minidev.CustomQueryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="customQueryResultMap" type="cn.topcheer.halberd.app.api.minidev.entity.CustomQuery">
        <id column="id" property="id"/>
        <result column="query_name" property="queryName"/>
        <result column="query_key" property="queryKey"/>
        <result column="query_rule" property="queryRule"/>
        <result column="query_sort" property="querySort"/>
    </resultMap>


    <select id="selectCustomQueryPage" resultMap="customQueryResultMap">
        select * from gen_custom_query where is_deleted = 0
    </select>

</mapper>
