<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.topcheer.halberd.app.dao.mapper.minidev.TemplateMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="templateResultMap" type="cn.topcheer.halberd.app.api.minidev.entity.Template">
        <id column="id" property="id"/>
        <result column="template_name" property="templateName"/>
        <result column="template_code" property="templateCode"/>
        <result column="template_remark" property="templateRemark"/>
    </resultMap>

</mapper>
